body{
    background-color: #F7F4E3;
    font-family: "Exo 2";
    margin: 0;
    padding: 0;

}

.header{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin: 3em 8em;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    text-align: center;
    margin: 7em; 
}


.logo {
    font-size: 2rem;
    font-weight: 600;
}

.log-in-sign-up-btn {
    background-color: white;
    border: none;
    border-radius: 3rem;
    height: 3rem;
    width: 8rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 0.9rem;
    cursor: pointer;

}

.main-button-container{
    background-color: white;
    border-radius: 3rem;
    height: 4rem;
    width: 24rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    text-align: left;

}

.cursor-icon{
    height: 2.5rem;
    transform: translateY(-50%) translateX(290%);

}

.main-get-started-btn{
    font-size: 1.5rem;
    border: none;
    background-color: #EA907A;
    color: black;
    border-radius: 3rem;
    height: 4rem;
    width: 14rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.main-subtitle{
    font-size: 2rem;
    font-weight: 500;
    opacity: 0.7;
    margin: 1em 2em;
}

.highlight{
    color: #e16647;
}

.moving-title, .main-title{
    font-size: 3.5rem;
    font-weight: 600;
    margin-bottom: 0.5em;
}

.between-containers-images{
    display: flex;
    width: 70%;
    justify-content: center;
}

.between-containers-dog-image{
    width: 12rem;
}

.between-containers-prints-image{
    width: 12rem;
    transform: rotate(212deg);
    opacity: 0.8;

}
.second-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    text-align: center;
    margin-top: 4em;
    margin-inline: 5em;

}

.second-title, .third-title{
    font-size: 2.3rem;
    font-weight: 600;
    margin-bottom: 0.5em;
}

.second-subtitle{
    font-size: 1.5rem;
    font-weight: 500;
    opacity: 0.7;
    margin: 1em;
}

.app-scrins-container{
    width: 80%;
    background-color: rgba(255, 255, 255, 0.7);    
    height: 600px;
    border-radius: 3rem;
    margin: 5em;
}



.third-container{
    margin-top: 4em;
    text-align: center;
    margin-bottom: 5em;
}


.steps {
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-top: 4em;
  }
  
  .step {
    display: flex;
    flex-direction: column;
    width: 25%; 
    padding: 1em;
  }


@media (max-width: 900px) {
    .steps {
      flex-direction: column;
      align-items: center;
    }

    .step {
        width: 80%; 
        margin-bottom: 2em; 
      }
} 

.step:hover{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 1.2rem;
}

.icon-title-container{
    display: flex;
    align-items: center;
   
}

.step-icon {
    width: 3rem;
    margin: 1em;
}

.step-title{
    font-size: 1.4rem;
    font-weight: 500;
    text-align: left;
    border-bottom: 0.10rem solid #EA907A;
    padding: 0.30em;
}

.step-body{
    font-size: 1.3rem;
    margin: 1em;
    text-align: left;
    line-height: 1.7rem;
}


@keyframes bounce {
    0%, 100% {
        transform: translateY(0); 
    }
    50% {
        transform: translateY(-7px); 
    }
}

.dot {
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color:#e16647;
    border-radius: 50%;
    margin: 0.12em; 
    animation: bounce 1s infinite; 
}

.dot:nth-child(1) {
    animation-delay: 0.2s; 
}
  
.dot:nth-child(2) {
animation-delay: 0.4s; 
}

.first-prints-image {
    opacity: 0.5;
    transform: translateX(185%) translateY(108%) rotate(200deg);
    width: 12rem;
    position: absolute;
}


.bottom-button-container{
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 18em;
    margin-left: 5em;
    margin-bottom: 10em;
}

.right-click-icon{
    width: 4rem;
    transform: rotate(100deg) translateY(260%) translateX(70%);
    position: absolute;

}